{% extends "base.html" %}

{% block metadata %}
	<meta name="description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:description" content="{% if article.description %}{{ article.description }}{% else %}{{ BIO }}{% endif %}">
	<meta property="og:title" content="{{ article.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
{% endblock %}

{% block content %}
<div class="post">
	<h1 class="post-title">{{ article.title }}</h1>
	<span class="post-date">{{ article.locale_date }}
		(<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>)
	</span>
	<span class="post-info">
	    {% include 'translations.html' %}
	</span>

	{% if article.subpart_of %}
	<div class="subparts">
	    <p>Cet article est une partie de l'article <a href='{{ SITEURL }}/{{ article.subpart_of.url }}'>{{ article.subpart_of.title }}</a> :</p>
	    <ul>
		{% for part in article.subpart_of.subparts %}
		<li><a href='{{ SITEURL }}/{{ part.url }}'>{{ part.subtitle }}</a>
		{% endfor %}
	    </ul>
	    <hr>
	</div>
	{% endif %}

	{{ article.content }}

	{% if article.subparts %}
  <div class="subparts">
		<hr>
		<h2>Suite</h2>
		<ul>
			{% for part in article.subparts %}
			<li><a href='{{ SITEURL }}/{{ part.url }}'>{{ part.subtitle }}</a>
				{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% if article.subpart_of %}
  <div class="subparts">
		<hr>
		<h2>Suite</h2>
		<p>Cet article est une partie de l'article <a href='{{ SITEURL }}/{{ article.subpart_of.url }}'>{{ article.subpart_of.title }}</a> :</p>
		<ul>
			{% for part in article.subpart_of.subparts %}
			<li><a href='{{ SITEURL }}/{{ part.url }}'>{{ part.subtitle }}</a>
				{% endfor %}
		</ul>
	</div>
	{% endif %}

	{% if article.tags %}
		<span class="post-tags">
			Tags:
			<ul>
				{% for tag in article.tags %}
					<li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
				{% endfor %}
			</ul>
		</span>

  {% if DISQUS_SITENAME %}
  <div class="comments">
  <h2>Commentaires:</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
         var disqus_identifier = "{{ article.url }}";
         (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
  </div>
  {% endif %}
</div>
{% endblock %}
