<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" prefix="og: http://ogp.me/ns#">
	<head>
		<link href="http://gmpg.org/xfn/11" rel="profile">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<!-- Metadata -->
		{% block metadata %}
			<meta name="description" content="{{ BIO }}" />
			<meta property="og:description" content="{{ BIO }}" />
			<meta property="og:title" content="{{ SITENAME }}{% if SITESUBTITLE %} - {{ SITESUBTITLE }}{% endif %}" />
			<meta property="og:type" content="website" />
			<meta property="og:url" content="{{ SITEURL }}" />
		{% endblock %}
		<meta property="og:image" content="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}" />

		<!-- Enable responsiveness on mobile devices-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		<title>{% block title %}{{ SITENAME }}{% endblock title %}{% if SITESUBTITLE %} - {{ SITESUBTITLE }}{% endif %}</title>

		<!-- CSS -->
		<link href="//fonts.googleapis.com/" rel="dns-prefetch"/>
		<link href="//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Abril+Fatface|PT+Sans:400,400italic,700&amp;subset=latin,latin-ext" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />

		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/poole.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/hyde.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/syntax.css" />
		{% if FONT_AWESOME_JS %}
			<script src="{{ FONT_AWESOME_JS }}" crossorigin="anonymous"></script>
		{% elif FONT_AWESOME_CSS %}
			<link rel="stylesheet" href="{{ FONT_AWESOME_CSS }}" crossorigin="anonymous">
		{% else %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" crossorigin="anonymous">
		{% endif %}
		{% if FONT_ACADEMICONS %}
			<link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
		{% endif %}

		{% if FAVICON %}
			<link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON }}" type="image/x-icon" />
		{% endif %}

		<!-- Feeds -->
		{% include 'fragments/feeds.html' %}

		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

		<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
	</head>

	<body class="theme-base-{{ COLOR_THEME if COLOR_THEME else '0t' }}">
		{% include 'sidebar.html' %}
		<div class="content container">
			{% block content %}
			{% endblock %}
		</div>
		<div class="links">
			{% block links %}
			{% endblock %}
		</div>
	</body>
</html>
