{% extends "base.html" %}
{% block content %}
<ul>
    {% for category, articles in categories %}
    <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>
	<ul>
	    {% for article in articles %}
	    <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
		{% endfor %}
	</ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}
