<div class="sidebar">
	<div class="container sidebar-sticky">
		<div class="sidebar-about">

			<h1>
				<a href="{{ SITEURL }}">
					<img class="profile-picture" src="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}">
					<h2> {% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}</h2>
					{{ SITENAME }}
				</a>
			</h1>
			<p class="lead"></p>
			<p class="lead">{{ BIO }} </p>
			<p></p>
		</div>
		{% if MENUITEMS or DISPLAY_PAGES_ON_MENU %}
			<ul class="sidebar-nav">
			{% if MENUITEMS %}
				{% for title, url in MENUITEMS %}
					<li><a href="{{ url }}">{{ title }}</a></li>
				{% endfor %}
			{% endif %}
			{% if DISPLAY_PAGES_ON_MENU %}
				{% for p in pages %}
					<li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
				{% endfor %}
			{% endif %}
			</ul>
		{% endif %}
		<nav class="sidebar-social">
			{% for name, link in SOCIAL %}
				{% if name == 'email' %}
					<a class="sidebar-social-item" href="mailto:{{ link }}">
						<i class="fa fa-envelope"></i>
					</a>
				{% elif name in ['academia', 'acclaim', 'acm', 'acmdl', 'ads', 'arxiv',
						 'biorxiv', 'ceur', 'coursera', 'cv', 'dataverse',
						 'dblp', 'depsy', 'doi', 'dryad', 'figshare',
						 'google-scholar', 'ideas-repec', 'ieee', 'impactstory',
						 'inspire', 'lattes', 'mathoverflow', 'open-access',
						 'osf', 'overleaf', 'philpapers', 'piazza', 'publons',
						 'pubmed', 'researcherid', 'scirate', 'semantic-scholar',
						 'springer', 'zotero'] %}
					<a class="sidebar-social-item" href="{{ link }}" target="_blank">
						<i class="ai ai-{{ name }}"></i>
					</a>
				{% else %}
					<a class="sidebar-social-item" href="{{ link }}" target="_blank">
						<i class="fa fa-{{ name }}"></i>
					</a>
				{% endif %}
			{% endfor %}
			<a class="sidebar-social-item" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM if FEED_ALL_ATOM else FEED_ALL_RSS }}">
				<i class="fa fa-rss"></i>
			</a>
		</nav>
		{% if FOOTER_TEXT %}
			<p class="sidebar-footer">{{ FOOTER_TEXT }}</p>
		{% endif %}
	</div>
</div>
